/* StyleSheet for narrow devices */


#navbar {
	/* used to give orientation for dropdown icon */
	position: relative;
}
#navbar > div {
	display: none;
}
#navbar > div.active {
	display: block;
}
#navbar:hover > div {
	display: block;
}


#navbar .menu-icon {
	position: absolute;
	top: 8px;
	right: 1em;
}
#navbar:hover .menu-icon {
	display: none;
}
